body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

/* h1 {
    color: #333;
}

p {
    color: #555;
} */

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    margin-left: 20px;
}

/* a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
} */

#testmap,
body,
html {
  height: 80%;
}

#interactive_map {
    /* height: 120%;  */
    height: 600px;
    /* width: 80%; */
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid #ced4da;
    border-radius: 10px;
},
body,
html