body {
  padding: 0;
  margin: 0;
}

#testmap,
body,
html {
  height: 80%;
}

#interactive_map {
    height: 120%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid #ced4da;
    border-radius: 10px;
},
body,
html

